<div class="mt-2">
  <small class="font-italic text-muted">
    Edited
    <% unless object.edited_by_author? %>
      by <%= object.edited_by.name %>
    <% end %>
    <%= local_time_ago(object.edited_at) %>
  </small>
</div>
