<% provide :button_text, "Update topic" %>

<div class="container-fluid bg-light">
  <div class="container">

    <%= render partial: "application/breadcrumbs" %>

    <div class="row justify-content-md-center">
      <div class="col-md-12 mt-2 mb-2">

        <h2 class="text-center mb-3">
          Edit topic
        </h2>

        <%= render "form", group: @group, topic: @topic %>

      </div>
    </div>

  </div>
</div>
