<div class="container topics-container pb-2">
  <div class="row">
    <div class="col-md-12 mb-3">

      <%= render partial: "application/breadcrumbs" %>

      <h2 class="text-center mt-3 mb-2rem pb-1">
        Topics
      </h2>

      <div class="box topics-box mt-4 p-2">

        <div class="row p-3">
          <div class="col-md-12 topics-index__list">

            <% unless @topics.empty? %>
              <%= render partial: "topic_row",
                as: :topic, collection: @topics,
                locals: { topics: @topics, group: @group }, cached: true %>
            <% else %>
              <p class="lead text-center mt-1 mb-1">
                This looks better with some topics. Why not creating one? :)
              </p>
            <% end %>

          </div>
        </div><!-- ./row -->

      </div>

      <div class="topics-index row mt-2rem mb-0">
        <div class="mx-auto mb-0">
          <%= will_paginate @topics,
            :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
        </div>
      </div>

      <div class="row mt-2rem mb-2rem">
        <div class="col text-center">
          <%= link_to "Submit a new topic", new_group_topic_path(@group),
            class: "new-topic-btn new-topic-btn--topics-index
              btn btn-primary btn-lg" %>
        </div>
      </div>

    </div>
  </div>
</div>
