<% provide :button_text, "Create topic" %>

<div class="container-fluid bg-light pb-2">
  <div class="container mb-3">

    <%= render partial: "application/breadcrumbs" %>

    <div class="row justify-content-md-center">
      <div class="col-md-12 mt-2 mb-2">

        <h2 class="text-center mt-2 mb-3 pb-1">
          New topic
        </h2>

        <%= render "form" %>

      </div>
    </div>

  </div>
</div>
