<div class="container-fluid bg-light">
  <div class="container promo-container">
    <div class="row">
      <div class="col-md-12 mt-2rem mb-2rem">

        <div class="promo text-center mt-2">
          <h2 class="promo__header display-5">
            Organize private events with your friends and family
          </h2>

          <div class="promo__text mt-5 mb-4">
            <p class="lead">
              1. All groups are <em>private</em> and can be <em>hidden</em> (so only the people you want can see them).
            </p>
            <p class="lead">
              2. People need to <em>request membership</em> to your groups.
            </p>
            <p class="lead">
              3. Group events are <em>only visible</em> to group members.
            </p>
            <p class="lead">
              4. Add as many group organizers as you want. You can even set all members to be organizers by default!
            </p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col mx-auto mt-2rem mb-2rem">
            <%= link_to "Sign up and get started", new_user_registration_path,
              class: "btn btn-primary btn-lg mb-2 pt-4 pb-4 pl-5 pr-5 white-space-normal" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
