<% if logged_in? %>
  <div class="main-user-content">
    <%= render "events",
      events: @events, events_count: @events_count, user_groups: @user_groups %>
    <%= render "user_groups", user_groups: @user_groups %>
  </div>
<% else %>
  <%= render "promo" %>
<% end %>

<% content_for :unhidden_groups_title do %>
  Unhidden Groups
<% end %>

<%= render "groups/unhidden_groups", unhidden_groups: @unhidden_groups %>
