<span class="d-inline-block">
  <%= group_organizers(group) %>
  <span> | </span>
  <%= group_members(group) %>
</span>
<span class="user-group__link mb-1 mb-sm-0">
  <%= link_to "(See all)", group_members_path(group) %>
</span>
