<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-lg-10 col-xl-8">

        <h2 class="text-center mt-2rem mb-2rem">Owned Groups</h2>

        <% if @user.owned_groups.any? %>

          <% @owned_groups.each do |group| %>
            <%= render "user_group", group: group, user: @user do %>
              <% links_for_owned_group(group) %>
            <% end %>
          <% end %>

        <% else %>

          <h3 class="h5 text-center mt-5">
            You still don't own any group. Why don't you create one? :)
          </h3>

        <% end %>

        <%= render "create_group" %>

        <% if @associated_groups.any? %>
          <div class="mb-2rem">
            <h2 class="text-center mt-1rem mb-2rem">With Membership</h2>

            <% @associated_groups.each do |group| %>
              <%= render "user_group", group: group, user: @user do %>
                <% links_for_group_with_membership(group) %>
              <% end %>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
