<p>
  Hello <%= @name %>,
</p>
<p>
  <%= @sender.name %> invites you to join <em><%= @group.name %></em> in Prevy.
</p>
<p>
  Go to group: <%= link_to @group.name, group_url(@group, token: @token) %>
</p>
