<div class='group-points-tooltip p-3'>
  <h4 class='h5 mt-0'>Group Points</h4>

  <hr class='bg-light'>

  <div class='d-flex flex-column'>
    <div class='d-flex'>
      <p class='mb-1 flex-grow-1 text-left'>Commenting:</p>
      <p class='mb-1'>1 point</p>
    </div>

    <div class='d-flex'>
      <p class='mb-1 flex-grow-1 text-left'>Submitting a topic:</p>
      <p class='mb-1'>3 points</p>
    </div>

    <div class='d-flex'>
      <p class='mb-1 flex-grow-1 text-left'>Attending an event:</p>
      <p class='mb-1'>5 points</p>
    </div>
  </div>
</div>
