<div class='group-points-tooltip p-3'>
  <h4 class='h5 mt-0'>Group Points</h4>

  <hr class='bg-light'>

  <p class='mb-1'>Commenting: 1 point</p>
  <p class='mb-1'>Submitting a topic: 3 points</p>
  <p class='mb-1'>Attending an event: 5 points</p>
</div>
