<div class="col-md-12 mb-4 pb-1">
  <div class="box p-4 text-center">
    <%= inline_svg "svgs/if_fireworks_2_811451.svg",
      size:  "164px",
      title: "Welcome celebration",
      desc:  "Welcome celebration",
      nocomment: true,
      preserve_aspect_ratio: "xMaxYMax meet",
      aria: true,
      aria_hidden: true,
      class: "mt-2" %>

    <p class="h1 mt-2 pt-1 mb-3">
      Welcome to the group!
    </p>

    <p class="lead mb-0">
      We hope you have a great time here <span class="h4 align-bottom">😊</span>
    </p>
  </div>
</div>
