<div class="container-fluid bg-light">
  <div class="container members-container pt-3 pb-5">

    <div class="row mt-2">
      <div class="col-md-12">

        <h2 class="text-center">
          <%= members_title_with_count %>
        </h2>

        <div class="row d-flex justify-content-center mt-1rem mb-2rem">
          <% group.members_with_role.last(12).each do |member| %>
            <%= render "user", user: member, group: group %>
          <% end %>
        </div>

        <div class="text-center">
          <%= see_all_members_button(group, quantity: 12) %>
        </div>

      </div>
    </div>

  </div>
</div>
