<% cache group.members_with_role.last(12) do %>

  <div class="container-fluid bg-light">
    <div class="container members-container pb-4">

      <div class="row mt-2">
        <div class="col-md-12">

          <h2 class="text-center">
            <%= members_title_with_count %>
          </h2>

          <% if !@group.members_with_role.empty? %>

            <div class="row d-flex justify-content-center mt-1rem mb-2rem">
              <%= render partial: "user",
                collection: group.members_with_role.last(12), as: :user,
                locals: { group: group }, cached: true %>
            </div>

          <% else %>

            <h3 class="h5 text-center mt-5 mb-2rem pb-3">
              So far there are no members.
            </h3>

          <% end %>

          <% if group.members.count > 12 %>
            <div class="text-center mb-4">
              <%= see_all_members_link(group, quantity: 12) %>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>

<% end %>
