<% cache top_members(group) do %>

  <div class="container-fluid members-container bg-light" id="top-members">
    <div class="container pb-4">

      <div class="row mt-2">
        <div class="col-md-12">

          <h2 class="text-center">
            Most Involved Members
          </h2>

          <% if !@group.members_with_role.empty? %>

            <div class="row d-flex justify-content-center mt-1rem mb-2rem">
              <%= render partial: "user",
                collection: top_members(group), as: :user,
                locals: {
                  object: group,
                  group:  group,
                  path:   "group_member_path"
                }, cached: true %>
            </div>

          <% else %>

            <h3 class="h5 text-center mt-5 mb-2rem pb-3">
              We need some members!
            </h3>

          <% end %>

          <% if group.members_with_role.size > Group::TOP_MEMBERS_SHOWN / 2 %>
            <div class="text-center mb-4">
              <%= link_to "See all members",
                group_members_path(group) %>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>

<% end %>
