<div class="container-fluid unhidden-groups-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-1">

        <h2 class="text-center">
          <%= yield :unhidden_groups_title %>
        </h2>

        <div class="row d-flex justify-content-center">
          <%= render unhidden_groups %>
        </div>

        <div class="row text-center">
          <div class="col mx-auto mt-2rem mb-2rem">
            <%= link_to "See more unhidden groups", groups_path,
              class: "btn btn-outline-primary btn-lg white-space-normal" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
