<% provide :button_text, "Create group" %>

<div class="container-fluid bg-light pb-2">
  <div class="container">

    <div class="row justify-content-md-center">
      <div class="col-md-8 mb-4">

        <h2 class="text-center mt-2rem mb-2rem pt-1 pb-2">
          Create group
        </h2>

        <%= render "form", group: @group %>

      </div>
    </div>

  </div>
</div>
