<% provide :button_text, "Create group" %>

<div class="container-fluid bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 mt-4">
        <h2 class="text-center mb-3">Create group</h2>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
