<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h2 class="mt-1 mb-4"><%= @user.name %></h2>
      <% unless @upcoming_events.empty? %>
        <h3 class="h4">Attending</h3>
        <ul>
          <% @upcoming_events.each do |event|  %>
            <li><%= link_to event.title, event_path(event) %></li>
          <% end %>
        </ul>
      <% end %>
      <% unless @attended_events.empty? %>
        <h3 class="h4">Attended</h3>
        <ul>
          <% @attended_events.each do |event|  %>
            <li><%= link_to event.title, event_path(event) %></li>
          <% end %>
        </ul>
      <% end %>
      <% unless @user.organized_events.empty? %>
        <h3 class="h4">Organized</h3>
        <ul>
          <% @user.organized_events.each do |event| %>
            <li>
              <%= link_to event.title, event_path(event) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
