<% cache @attendees do %>

  <div class="container-fluid bg-light pb-2">
    <div class="container mb-2">

      <%= render partial: "application/breadcrumbs" %>

      <div class="row">
        <div class="col-md-12 mt-3">

          <div class="row mb-2rem">
            <div class="col">

              <div class="attendees mb-4">
                <h2 class="mt-0 mb-2">
                  <%= attendees_title_with_count %>
                </h2>

                <div class="row">
                  <%= render partial: "groups/user",
                    collection: @attendees.reverse, as: :user,
                    locals: {
                      object: @event,
                      group:  @event.group,
                      path:   "event_attendee_path"
                    }, cached: true %>
                </div>
              </div>

              <%= link_to "Go back to event", group_event_path(@group, @event) %>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

<% end %>
