//
// Initial Setup
//


html {
  font-size: 1.05rem;
}

body {
  min-height: 100vh;
  color: darken($dark-indigo, 6.5%);
}

.container-semi-fluid {
  @include media-breakpoint-only(md) {
    max-width: initial;
  }
}

.main-container {
  flex: 1;
}

h1,
h2,
h3,
.h3 {
  color: $dark-indigo;
}

small {
  font-size: .8rem;
}
