<div class="container-fluid pb-2">
  <div class="container">

    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8 mb-3">

        <% if @membership_requests_received.any? %>
          <h2 class="text-center mt-2rem mb-2rem pt-2 pb-2">
            Membership Requests Received
          </h2>

          <div class="d-flex flex-column mt-4">
            <% @membership_requests_received.each do |membership_request| %>

              <%= render "membership_request_received",
                membership_request: membership_request %>

            <% end %>
          </div>
        <% end %>

        <% if @membership_requests_sent.any? %>
          <h2 class="text-center mt-2rem mb-2rem pt-2 pb-2">
            Membership Requests Sent
          </h2>

          <div class="d-flex flex-column mt-4">
            <% @membership_requests_sent.each do |membership_request| %>

              <%= render "membership_request_sent",
                membership_request: membership_request %>

            <% end %>
          </div>
        <% end %>

        <% if @membership_requests_received.none? &&
            @membership_requests_sent.none? %>
          <%= render "no_membership_requests" %>
        <% end %>

      </div>
    </div>

  </div>
</div>
