<div class="row mt-2rem mb-2rem">
  <div class="col-md-12 pl-0 pr-0 text-center">

    <% if current_user&.confirmed? %>

      <%= link_to "Create group", new_group_path,
        class: "btn btn-lg btn-3d btn-primary" %>

    <% else %>

      <%= button_tag "Create group", disabled: true,
        id: "create-group-button",
        class: "btn btn-lg btn-3d btn-create-group btn-primary",
        data: { behavior: "tooltip", toggle: "tooltip", placement: "top" },
        title: "#{render 'unconfirmed_account_tooltip'}" %>

    <% end %>

  </div>
</div>
