<div class='unconfirmed-account-tooltip p-3'>
  <p>
    You need to activate your account to be able to create your own group.
  </p>

  <p class='mb-1'>
    Please follow the link we sent to your email address to activate it.
  </p>
</div>
