<% provide :button_text, "Update event" %>

<div class="container-fluid bg-light pb-2">
  <div class="container">

    <%= render partial: "application/breadcrumbs" %>

    <div class="row justify-content-md-center">
      <div class="col-md-8 mb-4">

        <h2 class="text-center mt-3 pb-1">
          Edit event
        </h2>

        <%= render "form" %>

      </div>
    </div>

  </div>
</div>
