<% provide :button_text, "Update event" %>

<div class="container-fluid bg-light">
  <div class="container">

    <%= render partial: "breadcrumbs" %>

    <div class="row justify-content-md-center">
      <div class="col-md-8 mt-4">
        <h2 class="text-center mb-3">Edit event</h2>
        <%= render "form" %>
      </div>
    </div>

  </div>
</div>
