<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="row">
        <%= render @events %>
      </div>
      <div class="row">
        <div class="mx-auto mt-2rem mb-2rem">
          <%= will_paginate @events,
            :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
        </div>
      </div>
    </div>
  </div>
</div>
