<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">

        <% if @membership_requests_received.any? %>
          <h2 class="text-center mt-4 mb-2rem">
            Membership Requests Received
          </h2>

          <div class="d-flex flex-column mt-4">
            <% @membership_requests_received.each do |membership_request| %>

              <%= render "membership_request_received",
                membership_request: membership_request %>

            <% end %>
          </div>
        <% end %>

        <% if @membership_requests_sent.any? %>
          <h2 class="text-center mt-4 mb-2rem">
            Membership Requests Sent
          </h2>

          <div class="d-flex flex-column mt-4">
            <% @membership_requests_sent.each do |membership_request| %>

              <%= render "membership_request_sent",
                membership_request: membership_request %>

            <% end %>
          </div>
        <% end %>

        <%= no_membership_requests_for(@membership_requests_received,
          @membership_requests_sent) %>

      </div>
    </div>
  </div>
</div>
