<p>
  Welcome <%= @user.name %>!
</p>

<p>
  Thanks for signing up to <%= link_to "Prevy", "https://prevy.herokuapp.com" %>. I hope you have a wonderful experience here.
</p>

<p>
  Remember that you can create your own group and invite as many people as you want.
</p>

<p>
  Enjoy!
</p>

<p>
  Luján<br>
  <%= link_to "hello@lujanfernaud.com", "mailto:hello@lujanfernaud.com" %><br>
  <%= link_to "prevy.herokuapp.com", "https://prevy.herokuapp.com" %>
</p>
