//
// Errors
//


#error_explanation {
  margin-top: 2rem;
}

.alert > .list-styled {
  margin-bottom: 0;
}

.field_with_errors {
  padding: 0 7px 0 7px;
  background-color: #f8d7da;

  .message {
    margin-top: .5rem;
  }
}
