//
// Footer
//


.footer {
  min-height: 500px;
}

.container-footer {
  padding: 4rem;
}

.footer__hr {
  width: 10%;


  @include media-breakpoint-up(md) {
    width: 5%;
  }

  @include media-breakpoint-up(xl) {
    width: 3%;
  }
}

.footer-nav {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 40%;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}
