//
// Footer
//


.footer {
  min-height: 600px;
  font-size: 1.05rem;
  color: $light-background;
  background: $primary-darker;
  border-top: 2px solid $gray-400;
}

.container-footer {
  padding: 4rem;
}

.prevy-logo--footer {
  width: 169px;
  fill: $light-background;
}

.footer-link {
  padding: .1rem;
  margin-left: -.1rem;
  margin-right: -.1rem;
  color: $light-background;
  transition: all .3s;

  &:hover {
    color: $primary-darker;
    text-decoration: none;
    background: $light-background;
  }
}

.github-icon {
  fill: $light-background;
}
