//
// Footer
//


.footer {
  min-height: 600px;
  font-size: 1.05rem;
  background: linear-gradient(rgba($primary-darker, .85), $primary-darker);
}

.container-footer {
  padding: 4rem;
}

.prevy-logo--footer {
  width: 185px;
  fill: $light-background;
}

.footer__hr {
  width: 7%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);

  @include media-breakpoint-up(md) {
    width: 4%;
  }

  @include media-breakpoint-up(xl) {
    width: 2.4%;
  }
}

.footer-nav {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 40%;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

.github-icon {
  fill: $light-background;
}
