//
// Search Bar
//


.search-bar {
  padding-top: 1rem;
  padding-bottom: .9rem;
  color: #fff;
  background-color: $primary-darker;
}

.container-search-bar {
  padding: 0;

  @include media-breakpoint-up(sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
