<div class="container-fluid search-bar">
  <div class="container container-search-bar">

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6 col-xl-4">

        <%= form_tag search_path, method: :get, class: "form-inline" do %>

          <%= label_tag :keywords, nil, hidden: true %>

          <div class="input-group w-100">
            <%= text_field_tag :keywords, params[:keywords],
              class: "form-control", aria: { label: "Search" } %>

            <div class="input-group-append">
              <%= submit_tag "Search", name: nil, class: "btn" %>
            </div>
          </div>

        <% end %>

      </div>
    </div>

  </div>
</div>
