//
// Buttons
//


.btn-3d {
  border: 1px solid $primary-darker !important;
  border-bottom: 3px solid $primary-darker !important;
}

.btn-xl {
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-bottom: 5px solid $primary-darker !important;
}
