<div class="container">

  <%= render partial: "application/breadcrumbs" %>

  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center mt-2 mb-2rem">

      <h2 class="mb-2rem">
        Invitations
      </h2>

      <%= link_to "Invite someone", new_group_invitation_path(@group),
        class: "btn btn-primary btn-lg mb-2rem px-4" %>

      <div class="mt-2">
        <%= render partial: "invitation", collection: @invitations %>
      </div>

    </div>
  </div>

</div>
