// Mixins, Variables, etc.


@mixin box-sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$dark-indigo: #210451;
$light-background: #f3f4f5;
$shadow: #989999;


// Spacing


.mt-2rem {
  margin-top: 2rem !important;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}


// Body & General


body {
  padding-top: 71px;
}

.bg-light {
  background-color: $light-background !important;
}

.box {
  box-shadow: 0 1px .36px 0 $shadow;
  background: $white;
  border-top: 1px solid lighten($shadow, 34%);
}


// Errors


#error_explanation {
  margin-top: 2rem;
}

.alert > .list-styled {
  margin-bottom: 0;
}

.field_with_errors {
  padding: 2px;
  background-color: #f8d7da;
}


// Header


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}


// Bootstrap Specifig


.alert {
  margin-bottom: 0;
}
