// Mixins, Variables, etc.


@mixin box-sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$dark-indigo: #210451;
$light-background: #f3f4f5;
$shadow: #989999;


// Spacing


.mt-2rem {
  margin-top: 2rem !important;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}

.ml-010rem {
  margin-left: .10rem !important;
}


// Body & General


body {
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

.bg-light {
  background-color: $light-background !important;
}

.box {
  box-shadow: 0 1px .36px 0 $shadow;
  background: $white;
  border-top: 1px solid lighten($shadow, 34%);
  border-radius: .25rem;
}

.accent-border-bottom {
  border-bottom: 3px solid $indigo;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: sub;
}

.icon-location,
.icon-calendar {
  margin-right: .1rem;
}

.icon-link {
  margin-right: .13rem;
}


// Event Map


#map {
  height: 600px;
  border-top: 6px solid $indigo;
}


// Errors


#error_explanation {
  margin-top: 2rem;
}

.alert > .list-styled {
  margin-bottom: 0;
}

.field_with_errors {
  padding: 2px;
  background-color: #f8d7da;
}


// Header


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}


// Search Bar


.search-bar {
  padding-top: .8rem;
  padding-bottom: 0.7rem;
  color: #fff;
  background-color: lighten($dark-indigo, 5);
}

.search-form {
  flex-direction: column;
  align-items: flex-end;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
  }
}

.search-group {
  display: flex;
  align-items: baseline;
  margin-right: 0;
  margin-bottom: .5rem !important;

  @include media-breakpoint-up(md) {
    margin-right: .5rem;
    margin-bottom: 0 !important;
  }
}

.search-label {
  margin-right: .5rem;
}

.search-input {
  width: initial;
}

.btn-search {
  width: 100%;
  margin: 0;

  @include media-breakpoint-up(md) {
    width: initial;
  }
}


// Breadcrumbs


.breadcrumb {
  background-color: darken($light-background, 4.5%);
  border-radius: none;
}

.breadcrumbs-separator {
  color: rgba(#000, .5);
  padding-left: 0.23rem;
  padding-right: 0.23rem;
}


// Show User Profile


.profile-heading {
  margin-bottom: .8rem;
  font-style: italic;
}

.organized-events-heading {
  margin-bottom: -0.8rem;
}


// Edit User Profile


.edit-profile__heading,
.email-notifications__heading {
  position: relative;
  bottom: -.4rem;
}

.edit-profile__hr {
  flex-basis: 25%;

  @include media-breakpoint-up(md) {
    flex-basis: 28%;
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 35%;
  }
}

.email-notifications__hr {
  flex-basis: 18%;

  @include media-breakpoint-up(md) {
    flex-basis: 21%;
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 28%;
  }
}

.avatar-container {
  background-color: rgba($light-background, .2);
}


// User Group List


.user-group-list-hr {
  margin-top: .6rem;
  margin-bottom: .6rem;
  width: 98.6%;
}

.user-group-list-hr:last-child {
  display: none;
}


// Groups


.card-img-overlay--group {
  padding: .4rem;
  background-image: linear-gradient(to top, rgba(33, 4, 81, .9) 9%, rgba(33, 4, 81, .3) 50%, rgba(33, 4, 81, .1) 60%, transparent 72%) !important;
  opacity: 1;
  border-bottom: 3px solid #6610f2;
}

.card-title--group {
  bottom: .3rem !important;
}

.radio-button-list {
  padding-left: 2rem;
}

.group-box-title {
  bottom: .7rem;
  left: 1.1rem;
  margin-bottom: 0;
  position: absolute;
  text-align: left;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .35);
}

.group-box-text {
  padding: .5rem .5rem .31rem .5rem;
}


// Membership requests


.row-membership-request {
  background-color: rgba(33, 4, 81, .02);
}

.membership-request-info {
  flex-basis: 85%;
}

.membership-request-group-image {
  background-size: cover;
  width: 85px;
  height: 85px;
}


// Footer


.footer {
  min-height: 400px;
}

.container-footer {
  padding: 4rem;
}

.footer__hr {
  width: 50%;

  @include media-breakpoint-up(md) {
    width: 40%;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

.footer-nav {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 40%;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}


// Trix Editor Specific


trix-editor {
  min-height: 15rem !important;
}

.trix-button--icon-strike,
.trix-button--icon-link,
.trix-button-group--block-tools {
  display: none !important;
}


// Bootstrap Specific


.alert {
  margin-bottom: 0;
}

small {
  font-size: .8rem;
}

.card {
  border: 0;
  border-radius: 0;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-img-overlay {
  padding: 0.5rem;
  background-image: linear-gradient(to top, rgba(33, 4, 81, .9) 9%, rgba(33, 4, 81, .3) 33%, rgba(33, 4, 81, .1) 43%, transparent 55%);
  opacity: 1;
}

.card-title {
  bottom: .67rem;
  margin-bottom: 0;
  position: absolute;
  text-align: left;
  color: $white;
}

.nav-tabs {
  border-bottom: 1px solid darken(#dee2e6, 20%);
}

.nav-link.active {
  background-color: unset !important;
  border-color: darken(#dee2e6, 15%) darken(#dee2e6, 15%) $light-background !important;
}

.nav-link:hover {
  border-color: darken(#dee2e6, 15%) darken(#dee2e6, 15%) $light-background !important;
}
