// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Event box


.event-box-title {
  color: #fff;
  font-size: 1.26rem;
  font-weight: 600;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .35);
}

a.event-box-title:hover {
  color: #fff;
}

.event-box-image {
  border-bottom: 3px solid $indigo;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    padding-right: 15px;
  }
}

.card-img-overlay--event {
  right: 15px;
  border-bottom: 3px solid #6610f2;
}

.event-box-text {
  padding: 1rem;

  @include media-breakpoint-up(md) {
    padding: 0.9rem 0.5rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 1rem 0.5rem;
  }

  @include media-breakpoint-up(xl) {
    padding: .5rem .5rem .31rem .5rem;
  }
}

.event-box-text--accented {
  @include media-breakpoint-up(md) {
    border-bottom: 3px solid $indigo;
  }
}

.event-box__date {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-style: italic;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.event-box__event-title {
  font-size: 1.3rem;

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}

.event-box__short-description {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.event-box__attending {
  display: none;

  @include media-breakpoint-up(xl) {
    display: block;
  }
}

// Show view


.event-box-big-text,
.group-box-big-text {
  padding: 1rem;
  border-top: 6px solid $indigo;
  .event-box-big-date {
    margin-bottom: 0;
    font-size: 1rem;
    font-style: italic;
  }
}

.event-box-big-date {
  padding: 1rem;
  border-top: 1px solid #989999;
}


// Forms


.event-group-list-hr {
  margin-top: .6rem;
  margin-bottom: .6rem;
  width: 98.6%;
}

.event-group-list-hr:last-child {
  visibility: hidden;
}

.event-date-label {
  margin-top: 0.38rem;
}

.event-start-date {
  margin-top: 1.4rem;
}

.col-event-image {
  max-width: 82.8%;
}

[id*="event_start_date"],
[id*="event_end_date"] {
  display: inline-block;
  max-width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.5rem 0.375rem 0.75rem;
  line-height: 1.25;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
      background-size: auto auto;
  background-size: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[id*="event_start_date"]:focus,
[id*="event_end_date"]:focus {
  border-color: #b389f9;
  outline: none;
}
