<div class="row">
  <div class="col-md-12 mt-4">
    <nav aria-label="breadcrumb">
      <div class="breadcrumb d-block">
        <%= render_breadcrumbs separator: breadcrumbs_separator %>
      </div>
    </nav>
  </div>
</div>
