<div class="row mt-2rem mb-2rem">
  <div class="col-md-12 pl-0 pr-0 text-center">

    <% if current_user&.confirmed? %>

      <%= link_to "Create group", new_group_path,
        class: "btn btn-lg btn-3d btn-primary" %>

    <% else %>

      <% unless home_page? %>
        <div class="mb-2rem">
          <%= create_group_unconfirmed_account_alert %>
        </div>
      <% end %>

      <%= button_tag "Create group", disabled: true,
        class: "btn btn-lg btn-3d btn-create-group btn-primary" %>

    <% end %>

  </div>
</div>
