<% unless flash.empty? %>
  <div class="container-fluid">
    <div class="container">

      <div class="row">
        <div class="col-md-12">

          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message,
              class: "alert alert--header alert-primary alert-#{message_type} text-center" %>
          <% end %>

        </div>
      </div>

    </div>
  </div>
<% end %>
