<footer class="container-fluid footer text-light
  d-flex flex-column justify-content-center align-items-center">

  <div class="container container-footer
    d-flex flex-column justify-content-center align-items-center">

    <div class="footer__logo text-center">
      <%= inline_svg "svgs/prevy.svg",
        class: "prevy-logo prevy-logo--footer" %>
    </div>

    <div class="text-center mt-4 mb-2 pt-1 pb-1">
      <p>
        A demo project by <a href="http://www.lujanfernaud.com"
        class="footer-link">Luján Fernaud</a>.
      </p>
    </div>

    <a href="https://github.com/lujanfernaud/prevy" class="mt-3 pt-1">
      <%= inline_svg "svgs/github.svg", size: "40px", class: "github-icon" %>
    </a>

  </div>

</footer>
