<ul class="nav nav-tabs mb-4">
  <li class="nav-item nav-item-account">
    <%= link_to_account_settings_for(user) %>
  </li>
  <li class="nav-item nav-item-profile">
    <%= link_to_profile_settings_for(user) %>
  </li>
  <li class="nav-item nav-item-notifications">
    <%= link_to_notification_settings_for(user) %>
  </li>
</ul>
